.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.399);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .modalContent {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .closeButton {
    margin: 10px;
    font-size: 3rem;
    font-weight: bold;
    color: red;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  