.home {
    width: 100vw;
}

.cont1 {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #955935;
}

.cont2 {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #4F2F1C;
}

.cont3 {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #EBE7DC;
}