body {
    margin: 0;
    overflow-x: hidden;
}

.nav {
    width: 100vw;
    height: 10%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: #f0e0b4f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    letter-spacing: 2px;
    font-family: "Public Sans", sans-serif;
}

.logo {
    height: 100%;
}

@keyframes logoMover {
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
    }
}

.nav__left {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: logoMover 1s;
}

@keyframes itemsMover {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0);
    }
}

.nav__right {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5%;
    animation: itemsMover 1s;
}

.nav__option {
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4F2F1C;
    font-weight: bold;
    font-size: 110%;
}

.nav__option:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav__option>* {
    margin: auto;
    padding: 3px;
}

@media (max-width: 1700px) {
    .nav__option {
        border-radius: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4F2F1C;
        font-weight: bold;
        font-size: 100%;
    }
}

@media (max-width: 1470px) {
    .nav__option {
        border-radius: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4F2F1C;
        font-weight: bold;
        font-size: 90%;
    }
}

@media (max-width: 1350px) {
    .nav__option {
        border-radius: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4F2F1C;
        font-weight: bold;
        font-size: 80%;
    }
}

@media (max-width: 1200px) {

    .nav {
        height: auto;
    }

    .logo {
        width: 50%;
    }

    .nav__left {
        width: 30%;
    }

    .nav__right {
        height: 100%;  
        width: 50%;      
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }

    .nav__option {
        border-radius: 5px;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4F2F1C;
        font-weight: bolder;
        font-size: 80%;
    }
}

@media (max-height: 300px) {
    .nav {
        height: 35%;
    }

    .logo {
        width: 50%;
    }

    .nav__left {
        width: 30%;
    }
}

@media (max-height: 200px) {
    .nav {
        height: 50%;
    }

    .logo {
        width: 50%;
    }

    .nav__left {
        width: 30%;
    }
}

@media (max-height: 100px) {
    .nav {
        height: 100%;
    }

    .logo {
        width: 50%;
    }

    .nav__left {
        width: 30%;
    }
}