body {
    margin: 0;
}

.prod {
    width: 100vw;
    height: 100vh;
    background-color: #955935;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 15%;
    font-family: 'Julius Sans One', sans-serif;
    color: #F0E0B4;
    font-size: 230%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.header>* {
    margin: 10px;
}

.middle {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.middle__inside {
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
}

.middle__inside__image {
    height: 70%;
    width: 100%;
}

.middle__inside__brief {
    height: 20%;
    width: 100%;
}

.footer {
    width: 90%;
    height: 15%;
    font-family: 'Julius Sans One', sans-serif;
    color: #F0E0B4;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product__brief {
    font-family: 'Julius Sans One', sans-serif;
    color: whitesmoke;
    font-size: 100%;
    display: flex;
    text-align: center;
    letter-spacing: 5px;
}

@media (max-width: 1150px) {
    .header {
        height: 10%;
        font-size: 180%;
    }

    .footer {
        height: 10%;
        margin-bottom: 3%;
        font-size: 130%;
    }

    .middle {
        height: auto;
    }

    .product__brief {
        font-size: 75%;
    }
}

@media (max-width: 850px) {
    .header {
        height: 10%;
        font-size: 180%;
    }

    .footer {
        height: 10%;
        margin-bottom: 3%;
        font-size: 130%;
    }

    .middle {
        height: auto;
    }

    .product__brief {
        font-size: 65%;
    }
}

@media (max-width: 850px) {
    .footer {
        font-size: 120%;
    }

    .product__brief {
        font-size: 75%;
    }
}

@media (max-width: 750px) {
    .footer {
        font-size: 100%;
    }

    .product__brief {
        font-size: 65%;
    }
}

@media (max-width: 650px) {
    .product__brief {
        font-size: 60%;
    }
}

@media (max-width: 620px) {

    .header {
        margin-top: 8%;
        font-size: 150%;
    }

    .footer {
        height: 8%;
        font-size: 100%;
    }

    .middle {
        width: 70%;
        height: 65%;
        flex-direction: column;
    }

    .middle__inside__brief {
        visibility: hidden;
    }

    .middle__inside__image {
        height: 100%;
    }

    .middle__inside {
        width: 60%;
        height: 28%;
    }
}