body {
    margin: 0;
}

.prod {
    width: 100vw;
    height: 100vh;
    background-color: #955935;
}

.header {
    width: 100%;
    height: 25%;
    font-family: 'Julius Sans One', sans-serif;
    color: #F0E0B4;
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle > * {
    margin: 5%;
}

.footer {
    width: 100%;
    height: 35%;
    font-family: 'Julius Sans One', sans-serif;
    color: #F0E0B4;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}