body {
    margin: 0;
}

.prod {
    width: 100vw;
    height: 100vh;
    background-color: #955935;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 15%;
    font-family: 'Julius Sans One', sans-serif;
    color: #F0E0B4;
    font-size: 230%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    opacity: 0;
    transform: translateX(500px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.header>* {
    margin: 10px;
}

.middle {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    transform: translateY(500px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.middle__inside {
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column
}

.middle__inside__image {
    height: 70%;
    width: 100%;
    cursor: pointer;
}

.middle__inside__brief {
    height: 20%;
    width: 100%;
}

.footer {
    width: 90%;
    height: 15%;
    font-family: 'Julius Sans One', sans-serif;
    color: #F0E0B4;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: translateX(-500px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.product__brief {
    font-family: 'Julius Sans One', sans-serif;
    color: whitesmoke;
    font-size: 100%;
    display: flex;
    text-align: center;
    letter-spacing: 5px;
}

.inView {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}


@media (max-width: 1600px) {
    .middle__inside {
        font-size: 90%;
    }
}

@media (max-width: 1150px) {
    .header {
        height: 10%;
        font-size: 180%;
    }

    .footer {
        height: 10%;
        margin-bottom: 3%;
        font-size: 130%;
    }

    .middle {
        height: auto;
    }

    .middle__inside {
        font-size: 70%;
    }

    /* .product__brief {
        font-size: 75%;
    } */
}

@media (max-width: 850px) {
    .header {
        height: 10%;
        font-size: 180%;
    }

    .footer {
        height: 10%;
        margin-bottom: 3%;
        font-size: 130%;
    }

    .middle {
        height: auto;
    }

    .middle__inside {
        font-size: 60%;
    }


    /* .product__brief {
        font-size: 65%;
    } */
}

@media (max-width: 850px) {
    .footer {
        font-size: 120%;
    }

    .middle__inside {
        font-size: 70%;
    }

    /* .product__brief {
        font-size: 75%;
    } */
}

@media (max-width: 750px) {
    .footer {
        font-size: 100%;
    }

    .middle__inside {
        font-size: 60%;
    }

    /* .product__brief {
        font-size: 65%;
    } */
}

@media (max-width: 650px) {

    .middle__inside {
        font-size: 62%;
    }

    /* .product__brief {
        font-size: 60%;
    } */
}

@media (max-width: 620px) {

    .header {
        margin-top: 8%;
        font-size: 150%;
    }

    .footer {
        height: 8%;
        font-size: 100%;
    }

    .middle {
        width: 70%;
        height: 65%;
        flex-direction: column;
    }

    .middle__inside__brief {
        visibility: hidden;
    }

    .middle__inside__image {
        height: 100%;
    }

    .middle__inside {
        width: 60%;
        height: 28%;
    }
}

@media (max-width: 400px) {

    .header {
        margin-top: 5%;
        font-size: 150%;
    }

    .footer {
        margin-top: 8%;
        height: 8%;
        font-size: 90%;
    }

    .middle {
        width: 60%;
        height: 65%;
        flex-direction: column;
    }

    .middle__inside__brief {
        visibility: hidden;
    }

    .middle__inside__image {
        height: 100%;
    }

    .middle__inside {
        width: 60%;
        height: 28%;
    }
}